<!DOCTYPE html>

<html>
    {{> head }}

    <body>
        <div class="main-content">
            {{> header }}
            <p>Node weather app using remote api.</p>
            {{!-- <img src="/images/ico_01.png" alt="" class="portrait"> --}}
        </div>
        {{> footer}}
    </body>
</html>