<!DOCTYPE html>

<html>
    {{> head }}

    <body>
        <div class="main-content">
            {{> header }}
            <img src="/images/ico_01.png" alt="" class="portrait">
        </div>
        {{> footer}}
    </body>
</html>